body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar .navbar-collapse{
    background-color:#05d5bc;

}

.container{
   padding:0;
   margin:0;
   width:100%;
}

.container a{
    color:#43286b;
}

#logoutForm .nav .navbar-nav .navbar-right ul{
    margin-right:30px;
}

@media (min-width: 768px){
    .navbar-right{
        margin-right:30px;
    }
}
 

.jumbotron{
    text-align:center;
    font-family:Tahoma;
}

.btn-primary, .btn-primary:hover{
    background-color:#05d5bc;
}