@model IEnumerable<ChatterApp.Models.ApplicationUser>
@*@model PagedList.IPagedList<ChatterApp.Models.ApplicationUser>
@using PagedList.Mvc;
@using PagedList;*@






@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item.UserName)
            <button id="followbutton" class="btn btn-primary btn-default">@Html.ActionLink("Follow", "Follow", new { username = item.UserName })</button>
        </li>
    }
</ul>

@*<div class="row-fluid" id="pager">*@
    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
    @*@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))
</div>*@

