@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Public Square<br />
    Da Land, OH 44XXX<br />
    <abbr title="Phone">P:</abbr>
    216.555.0101
</address>

<address>
    <strong><a href="https://github.com/ZerrickStaples-GregMahring/ChatterApp">GitHub</a></strong>   
</address>